body {
    background-image: url("../images/blackskulls.jpg");
    font-family: 'Mountains of Christmas', cursive;
    font-size: 18px;
}

.content {
    margin: 0 auto 0 auto;
    width: 960px;
    padding-bottom: 60px;
}

/* jumbotron color change */
.color {
    background-color: #c6c3de;
}

/* card header color change */
.card-header {
    background-color: #d6f3fa;
}
